@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
	--primary:#98A8F8;
	--dark: #FAAB78;
	--gray: #756388;
	--light: #061b28;
    font-family: 'Poppins', sans-serif  !important;
    font-weight: 700;
}
.container10{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.item1{
 
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-image: url(../../images/WallpaperDog-20358696.jpg);
    background-color: #cccccc;

}
.item2{
    width:100%;
    height: 100%;
}

.item4{
    padding-left: 30px;
    padding-top: 80px;
    width:100%;
    height: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:50px;
    overflow: hidden;
    overflow-y: scroll;
   


}
